@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background-color: #E0FFFF;
}

h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 375px;
  height: 330px;
  margin-left: 260px;
}

p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

li {
  font-size: 16px;
  padding: 10px 5px 5px 0;
  font-family: 'Open Sans', sans-serif;
}

button {
  margin-left: 350px;
  margin-bottom: 30px;
  width: 200px;
  height: 30px;
}

.main_block {
  width: 900px;
  height: auto;
  border: 1px solid black;
  margin: 0 auto;
  background-color: white;
}

.all_questions {
  width: 900px;
  height: auto;
  
}
.boldp{
  color: red;
}
#kekus {
  width: 200px;
  height: 30px;
  margin-left: 350px;
}
.everything{
  width: 100%;
  height: auto;
  border-top: 1px solid black;
  padding-top: 20px;
}
.nameInput {
font-family: 'Open Sans', sans-serif;
text-decoration: underline;
font-size: 20px;
}
input {
  width: 220px;
  height: 20px;
  font-size: 20px;
}
.hotbob {
  font-size: 24px;
}
.inputname{
  width: 100%;
  height: auto;
}
